<div class="user-list">
    <div class="user-item">
        <% @users.each do |user| %>
            <%= link_to user do %>
                <p><%= user.name %></p>
            <% end %>
        <% end %>
    </div>
</div>