<div class="post-list">
    <div class="post-item">
        <% @posts.each do |post| %>
            <%= link_to post do %>
                <p><%= safe_join(post.content.split("\n"),tag(:br)) %>（<%= post.user.name %>）</p>
                    <img src="/user_images/<%= post.user.image_name %>" width="80" />
            <% end %>
        <% end %>
    </div>
</div>