<div class="-item common-post-item">
    <%= form_with model: @post do |form| %>
    <div class="comment-area">
        <%= form.label :content, "何してる？" %>
        <%= form.text_area :content %>
    </div>
    <%= form.submit "POST", class: 'common-post-btn' %>
    <% end %>
</div>