@import "setting";

body {
  background-color: $color_gy;
  margin: 120px 0;
  font-size: 14px;
}

h1 {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 24px;
  color: $color_bk;
  font-weight: 700;
  padding: 24px;
}

.header {
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 100;
}

.header-list {
  li {
    background-color: $color_bk;
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  a {
    padding: 2px 16px;
    display: block;
    text-align: center;
    font-size: 14px;
    color: $color_wh;
  }
}

main {
  max-width: 800px;
  width: 100%;
  margin: auto;
  padding-left: 140px;
  padding-right: 140px;
}

h2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 12px;
  color: $color_gy_50;
}

.flash-message {
  position: fixed;
  top: 24px;
  right: 50%;
  transform: translateX(50%);
  background-color: $color_gy;
  color: $color_bl;
  padding: 10px 20px;
  min-width: 320px;
  box-shadow: 2px 2px 4px $color_gy_50;
  text-align: center;
  border-radius: 3px;
  z-index: 100;
}
