@import "setting";

.post-item {
  background-color: $color_wh;
  border-radius: 5px;
  padding: 8px;
  position: relative;
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.post-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}

.post-txtWrap {
  width: 100%;
}

.post-bottom {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: flex;
  gap: 8px;
}
